{% load i18n %}

{% if appname == "valorization" %}
<div class="btn-group mr-2">
    <a class="btn btn-light dropdown-toggle" data-toggle="dropdown" href="#">
        <strong>
            {% if modelname == 'poi' %}{% trans "POIs" %}{% endif %}
        </strong>
    </a>
    <ul class="dropdown-menu">
        {% if modelname != 'poi' %}
        <li class="dropdown-item">
            <a href="{% url 'valorization:poi_list' %}">{% trans "POIs" %}</a>
        </li>
        {% endif %}
    </ul>
</div>
{% endif %}
