{% load i18n %}

{% if appname == "valorization" %}
<div class="btn-group mr-2">
    <a class="btn btn-light dropdown-toggle" data-toggle="dropdown" href="#">
        <strong>
            {% if modelname == 'poiknowledge' %}{% trans "POIs knowledge" %}{% endif %}
            {% if modelname == 'poiaction' %}{% trans "POIs action" %}{% endif %}
        </strong>
    </a>
    <ul class="dropdown-menu">
        {% if modelname != 'poiknowledge' %}
        <li class="dropdown-item">
            <a href="{% url 'valorization:poiknowledge_list' %}">{% trans "POIs knowledge" %}</a>
        </li>
        {% endif %}
        {% if modelname != 'poiaction' %}
        <li class="dropdown-item">
            <a href="{% url 'valorization:poiaction_list' %}">{% trans "POIs action" %}</a>
        </li>
        {% endif %}
    </ul>
</div>
{% endif %}
