{% extends "mapentity/mapentity_detail_attributes.html" %}
{% load i18n mapentity_tags %}

{% block attributes %}
    <table class="table-striped table-bordered table">
        <tr>
            <th>{{ object|verbose:"structure" }}</th>
            <td>{{ object.structure }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"title" }}</th>
            <td>{{ object.title }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"study_authors" }}</th>
            <td>{{ object.study_authors }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"study_types" }}</th>
            <td>
                {% valuelist object.study_types.all %}
            </td>
        </tr>
        <tr>
            <th>{{ object|verbose:"year" }}</th>
            <td>{{ object.year }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"description" }}</th>
            <td>{{ object.description|linebreaks }}</td>
        </tr>
        {% include "mapentity/trackinfo_fragment.html" %}
    </table>
    {{ block.super }}
{% endblock attributes %}
