psycopg2
django>=2.2
django-autocomplete-light[gfk]
git+https://github.com/GeotrekCE/Geotrek-admin.git@2.61.1#egg=geotrek
git+https://github.com/GeotrekCE/django-leaflet.git@0.19+geotrek8#egg=django-leaflet
paperclip

# prod
django-compressor
gunicorn
python-memcached
sentry-sdk
