psycopg2
django>=2.2
django-autocomplete-light[gfk]
-e git+https://github.com/GeotrekCE/Geotrek-admin.git@refactor-commonform#egg=geotrek
mapentity
paperclip
django-weasyprint<2.0
django-geojson

# prod
django-compressor
gunicorn
python-memcached
sentry-sdk
