{% load i18n %}

{% if appname == "description" %}
<div class="btn-group mr-2">
    <a class="btn btn-light dropdown-toggle" data-toggle="dropdown" href="#">
        <strong>
            {% if modelname == 'land' %}{% trans "Lands" %}{% endif %}
            {% if modelname == 'status' %}{% trans "Status" %}{% endif %}
            {% if modelname == 'morphology' %}{% trans "Morphologies" %}{% endif %}
            {% if modelname == 'usage' %}{% trans "Usages" %}{% endif %}
        </strong>
    </a>
    <ul class="dropdown-menu">
        {% if modelname != 'land' %}
        <li class="dropdown-item">
            <a href="{% url 'description:land_list' %}">{% trans "Lands" %}</a>
        </li>
        {% endif %}
        {% if modelname != 'status' %}
        <li class="dropdown-item">
            <a href="{% url 'description:status_list' %}">{% trans "Status" %}</a>
        </li>
        {% endif %}
        {% if modelname != 'morphology' %}
        <li class="dropdown-item">
            <a href="{% url 'description:morphology_list' %}">{% trans "Morphologies" %}</a>
        </li>
        {% endif %}
        {% if modelname != 'usage' %}
        <li class="dropdown-item">
            <a href="{% url 'description:usage_list' %}">{% trans "Usages" %}</a>
        </li>
        {% endif %}

    </ul>
</div>
{% endif %}
