{% extends "mapentity/mapentity_form.html" %}
{% load i18n crispy_forms_tags %}

{% block mainform %}
    <form id="mainform"
          action="{% if object.pk %}{{ object.get_update_url }}{% else %}{{ object.get_add_url }}{% endif %}"
          class="form-horizontal" method="POST">
    
    {% crispy form %}

    </form>
{% endblock mainform %}

{% block extrabody %}
    {{ block.super }}
    <script type="text/javascript">
    $(window).ready(function () {

        $(".clearfix").removeClass("clearfix");

    });

    $(".chosen-select").chosen({width: "95%"});

    </script>

{% endblock extrabody %}
