
/* Cut topology */
.marker-point {
    padding-left: 25px;
    padding-top: 41px;
    background-image: url('../../images/marker-add.png') ;
    background-repeat: no-repeat;
    height: 0px !important;
    width: 0px !important;

}

.marker-point.marker-snapped {
    background-image: url('../../images/marker-snap.png');
}

.pointtopology-control {
    background-image: url('../images/scissors.svg');
    background-size: contain;
}
