{% load static i18n geojson_tags %}
<script type="text/javascript">
    MapEntity.i18n['Streams'] = "{% trans "Streams" %}";
    MapEntity.i18n['Distance to source'] = "{% trans "Distance to source" %}";
    MapEntity.i18n['Cut topology'] = "{% trans 'Cut topology' %}";
    MapEntity.i18n['Click map to place marker, then move it to snap with the topology.'] = "{% trans "Click map to place marker, then move it to snap with the topology." %}";

    L.Control.PointTopology.TITLE = "{% trans 'Cut topology' %}";
    L.Control.PointDistance.TITLE = "{% trans 'Distance to source' %}";

    window.SETTINGS.urls['stream_layer'] = "{% url "river:stream_layer" %}";
    window.SETTINGS.urls['distance_to_source'] = "{% url "river:distance_to_source" %}";
</script>
<script type="text/javascript" src="{% static 'river/js/main.js' %}"></script>

{% if object.topology %}
    <div hidden="true" id="form_topology">
        <form method="POST" action="{% url 'river:cut_topology' %}">
            {% csrf_token %}
            <p id="name-topology">{% trans 'Topology' %} {{ object.topology }}</p>
            <span id="distance-on-topology"></span></br>
            <input type="submit" class="btn btn-danger" value="{% trans 'Cut topology' %}"></input>
            <input type="hidden" id="topology" name="topology" value="{{object.topology.id}}">
            <input type="hidden" id="lat" name="lat">
            <input type="hidden" id="lng" name="lng">
        </form>
    </div>
{% endif %}