{% load i18n mapentity_tags georiviere_tags %}

{% if modelname != "stream" %}

<h3>{% trans "River" %}</h3>
<table class="table">
    {% if modelname != "stream" %}
    <tr>
        <th>{% trans "Stream" %}</th>
        <td>
            {% if object.topology %}
            <a href="{{ object.topology.stream.get_detail_url }}">{{ object.topology.stream.name }}</a>
            {% else %}
                {% valuelist_streams object.streams object %}
            {% endif %}

        </td>
    </tr>
    {% endif %}
</table>

{% endif %}
