{% extends "mapentity/mapentity_detail.html" %}
{% load i18n l10n static geojson_tags thumbnail %}

{% block extrabody %}
    {{ block.super }}

    <script type="text/javascript">
        $(window).on('detailmap:ready', function (e, data) {
            var map = data.map;

            //
            // Source
            console.log('pouet')
            {% if object.source_location %}
            /*
                var sourceIcon = L.icon({
                    iconUrl: "{% static "river/source.png" %}",
                    iconSize: [{{ view.icon_sizes.source }}, {{ view.icon_sizes.source }}],
                    iconAnchor: [{{ view.icon_sizes.source }}/2, {{ view.icon_sizes.source }}/2],
                });*/
                var point = {{object.source_location|geojsonfeature|safe}};
                var location = point.geometry.coordinates.reverse();
                L.marker(location)
                 .bindPopup("Source")
                 .addTo(map);

                // Make sure parking icon is visible on the map
                var bounds = map.getBounds();
                bounds.extend(location);
                map.fitBounds(bounds);
            {% endif %}
    </script>
{% endblock extrabody %}
