{% load i18n mapentity_tags georiviere_tags static %}

{% trans 'None' as trans_none %}

<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <link href="styles.css" rel="stylesheet" />
    {% block style %}
      <style type="text/css">
        {% include template_css %}

        .intro-left .teaser,
        .meta-items-title,
        .advice-title,
        .how_to_come-title,
        .accessibility-title,
        .gear-title,
        .elevation-title,
        .half-block h2,
        .block h2,
        .information-desks h2 {
          color: {{ primary_color }};
        }
        /* TODO: Remove when the map generation is fixed */
        .full-map img {
            max-height: 20cm;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
      </style>
    {% endblock style %}
  </head>

  <header>
    <div class="f-left">
      <img src="{% media_static_fallback_path "upload/logo-header.png" "images/logo-header.png" %}" class="logo_header" />
    </div>
    <div></div>
    <div class="f-right">
      <img src="{% static "images/logo-login.png" %}" class="logo_header" />
    </div>
  </header>

  <article id="toc">
    <h1 class="center">{{ object.name }}</h1>
    <ul>
      <li><a href="#section-1-h2"></a></li>
      <li><a href="#section-2-h2"></a></li>
      <li><a href="#section-3-h2"></a></li>
      <li><a href="#section-4-h2"></a></li>
      <li><a href="#section-5-h2"></a></li>
      <li><a href="#section-6-h2"></a></li>
      <li><a href="#section-7-h2"></a></li>
    </ul>
  </article>

  <section id="section-1">
    <h2 id="section-1-h2">Informations</h2>
    <aside>
      <figure class="size-half">
        <img src="file://{{ map_path }}" alt="" />
        <figcaption>{% trans "Légende de la carte" %}</figcaption>
      </figure>
      <figure class="size-half">
        <img src="{% url 'river:stream_profile_svg' LANGUAGE_CODE object.pk %}" alt="" />
        <figcaption>{% trans "Légende de la carte" %}</figcaption>
      </figure>
    </aside>
    <article id="features">
      <section class="flex-wrap troisCol">
        <h4>{% trans "Caractéristiques" %}</h4>
        <dl>
          <dt>{{ object|verbose:"flow" }}</dt>
          <dd>{{ object.get_flow_display }}</dd>
          <dt>{{ object|verbose:"classification_water_policy" }}</dt>
          <dd>{{ object.classification_water_policy|default_if_none:trans_none }}</dd>
          <dt>{{ object|verbose:"data_source" }}</dt>
          <dd>{{ object.data_source|default_if_none:trans_none }}</dd>
          <dt>{% trans "Length 2D" %}</dt>
          {# ``geom.length`` is 2D and is computed by GEOS #}
          <dd>{{ object.geom.length|floatformat }} m</dd>
          <dt>{{ object|verbose:"length" }}</dt>
          <dd>{{ object.length|floatformat }} m</dd>
          <dt>{{ object|verbose:"slope" }}</dt>
          <dd>{{ object.slope }}</dd>
          <dt>{% trans "Elevation" %}</dt>
          <dd>Min: {{ object.min_elevation|floatformat }} m, Max: {{ object.max_elevation|floatformat }} m</dd>
        </dl>
      </section>
      {% block cities_crossed %}
        <section class="flex-wrap">
          {% if object.cities %}
            <h4>{% trans "Communes traversées" %}</h4>
            <article class="columns threeColumns">
              <ul>
                {% for city in object.cities %}
                  <li>{{ city.name }}</li>
                {% endfor %}
              </ul>
            </article>
          {% endif %}
        </section>
      {% endblock cities_crossed %}
      {% block districts_crossed %}
        {% if object.districts %}
          <section class="flex-wrap">
            <h4>{% trans "Secteurs traversées" %}</h4>
            <article class="columns oneColumn">
              <ul>
                {% for district in object.districts %}
                  <li>{{ district.name }}</li>
                {% endfor %}
              </ul>
            </article>
          </section>
        {% endif %}
      {% endblock districts_crossed %}
      {% block areas_crossed %}
        {% if object.areas %}
          <section class="flex-wrap">
            <h4>{% trans "Areas crossed" %}</h4>
            <article class="columns oneColumn">
              <ul>
                {% for area in object.areas_ordered_area_type %}
                  <li>{{ area.area_type }} – {{ area.name }}</li>
                {% endfor %}
              </ul>
            </article>
          </section>
        {% endif %}
      {% endblock areas_crossed %}
      {% block watersheds_crossed %}
        {% if object.watersheds %}
          <section class="flex-wrap">
            <h4>{% trans "Watersheds crossed" %}</h4>
            <article class="columns oneColumn">
              <ul>
                {% for watershed in object.watersheds_ordered_watershed_type %}
                  <li>{{ watershed.watershed_type }} – {{ watershed.name }}</li>
                {% endfor %}
              </ul>
            </article>
          </section>
        {% endif %}
      {% endblock watersheds_crossed %}
      {% block status %}
        <section class="flex-wrap">
          <h4>{% trans "Status" %}</h4>
          <article class="columns oneColumn">
            <ul>
              {% for status_type, infos in status_types.items %}
              <li>
                 {{ infos.sum_length.m|floatformat }} m ({{ infos.percentage|floatformat }} %) {% trans "linear classified in" %} {{ status_type }}
              </li>
              {% endfor %}
            </ul>
          </article>
        </section>
      {% endblock status %}
    </article>
  </section>
  {% block usages %}
    {% if object.usages %}
      <hr />
      <section id="section-2" class="">
        <div class="d-flex f-row f-end">
          <img src="{% static 'images/usage-96.png' %}" class="img-title" />
          <h2 id="section-2-h2">{% trans "Usages" %}</h2>
        </div>
        <div class="d-flex f-row">
          <div class="size-half">
            <aside>
              <figure class="size-full">
                <img src="file://{{ map_path_usage }}" class="size-full" />
                <figcaption>{% trans "Légende" %}</figcaption>
              </figure>
            </aside>
          </div>
          <div class="size-half">
            <ul class="l-style-number">
              {% for usage in object.usages %}
                <li>{{ usage }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </section>
    {% endif %}
  {% endblock usages %}
  {% block studies %}
    {% if object.studies %}
      <hr />

      <section id="section-3">
        <div class="d-flex f-row f-end">
          <img src="{% static 'images/study-96.png' %}" class="img-title" />
          <h2 id="section-3-h2">{% trans "Study" %}</h2>
        </div>
        <div class="d-flex f-row">
          <div class="size-half">
            <aside>
              <figure class="size-full">
                <img src="file://{{ map_path_study }}" class="size-full" />
                <figcaption>Légende</figcaption>
              </figure>
            </aside>
          </div>
          <div class="size-half">
            <ul class="l-style-number">
              {% for study in object.studies %}
                 <li>{{ study.date }} - {{ study.title }} - {{ study.study_types }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </section>
    {% endif %}
  {% endblock studies %}
  {% block knowledges %}
    <hr />

    <section id="section-4">
      <div class="d-flex f-row f-end">
        <img src="{% static 'images/knowledge-96.png' %}" class="img-title" />
        <h2 id="section-4-h2">{% trans "Knowledges" %}</h2>
      </div>
      {% for knowledge in object.knowledges %}
        <div class="d-flex f-row">
          <div class="size-third">
            <aside>
              <figure class="size-full">
                <img src="file://{{ map_path_knowledge|get_value_from_dict:knowledge.pk }}" class="size-full" />
                <figcaption>Légende</figcaption>
              </figure>
            </aside>
          </div>
          <div class="size-third">
            <h4>{% trans "Knowledge" %}</h4>
              <ul class="">
                <li>{{ knowledge.name }}</li>
                <li>{{ knowledge.knowledge_type }}</li>
                <li>{% if knowledge.knowledge_type.pk == 1 and knowledge.vegetation.vegetation_type %}{{ knowledge.vegetation.vegetation_type }}{% endif %}{% if knowledge.knowledge_type.pk == 2 and knowledge.work.work_type %}{{ knowledge.work.work_type }}{% endif %}</li>
                <li>{% if knowledge.knowledge_type.pk == 1 and knowledge.vegetation.state %}{{ knowledge.vegetation.state }}{% endif %}{% if knowledge.knowledge_type.pk == 2 and knowledge.work.state %}{{ knowledge.work.state }}{% endif %}</li>
              </ul>
              {% if knowledge.followups.exists %}
                <h4>{% trans "Associated follow-ups" %}</h4>
                <ul class="">
                  {% for followup in knowledge.followups.all %}
                    <li>- {{ followup.name }}{% if followup.type %} – {{ followup.type }}{% endif %}</li>
                    <li>{{ followup.date }}{% if followup.measure_frequency %} - {{ followup.measure_frequency }}{% endif %}</li>
                  {% endfor %}
                </ul>
              {% endif %}
          </div>
          {% if knowledge.interventions.exists %}
            <div class="size-third">
              <h4>{% trans "Associated interventions" %}</h4>
              {% for intervention in knowledge.interventions.all %}
                <b>{{ intervention.name }} </b>{{ forloop.counter }}
                <ul class="l-style-tiret">
                  <li>{{ intervention.date }}</li>
                  <li>{{ intervention.intervention_type }}</li>
                  <li>{{ intervention.intervention_status }}</li>
                  <li>{{ intervention.stake }}</li>
                  <li>{% for disorder in intervention.disorders.all %}{{ disorder }} {% if not forloop.last %}- {% endif %}{% endfor %}</li>
                </ul>
              {% endfor %}
            </div>
          {% endif %}
        </div>
        {% if not forloop.last %}
          <hr />
        {% endif %}
      {% endfor %}
    </section>
  {% endblock knowledges %}
  <hr />
  <section id="section-5">
    <div class="d-flex f-row f-end">
      <img src="{% static 'images/followup-96.png' %}" class="img-title" />
      <h2 id="section-5-h2">Autres Suivis (non lié à une connaissance)</h2>
    </div>
    <div class="d-flex f-row">
      <div class="size-half">
        <aside>
          <figure class="size-full">
            <img src="file://{{ map_path_usage }}" class="size-full" />
            <figcaption>Légende</figcaption>
          </figure>
        </aside>
      </div>
      <div class="size-half">
        <ul class="l-style-number">
          <li>Date + Nom + Type suivi</li>
          <li>Date + Nom + Type suivi</li>
          <li>Date + Nom + Type suivi</li>
          <li>Date + Nom + Type suivi</li>
        </ul>
      </div>
    </div>
  </section>
  <hr />

  <section id="section-6">
    <div class="d-flex f-row f-end">
      <img src="{% static 'images/intervention-96.png' %}" class="img-title" />
      <h2 id="section-6-h2">
        Autres Interventions (non lié à une connaissance)
      </h2>
    </div>
    <div class="d-flex f-row">
      <div class="size-half">
        <aside>
          <figure class="size-full">
            <img src="img/carte.png" class="size-full" />
            <figcaption>Légende</figcaption>
          </figure>
        </aside>
      </div>
      <div class="size-half">
        <ul class="l-style-number">
          <li>Date + Nom + Type intervention</li>
          <li>Date + Nom + Type intervention</li>
          <li>Date + Nom + Type intervention</li>
          <li>Date + Nom + Type intervention</li>
        </ul>
      </div>
    </div>
  </section>

  <hr />
  <section id="section-7">
    <div class="d-flex f-row f-end">
      <h2 id="section-7-h2">Contact</h2>
    </div>
    <p>
      Pour plus d’informations :<br />
      Contact (général ou en fonction BV?)<br />
      Mail - Tél<br />
      Site internet<br />
      URL
    </p>
  </section>
</html>
