{% extends "mapentity/mapentity_detail.html" %}

{% load i18n static geojson_tags %}

{% block mappanel %}

    {{ block.super }}

    {% include "altimetry/altimetric_profile_fragment.html" with profile_url="river:stream_profile_svg" %}

{% endblock mappanel %}

{% block extrabody %}

    {{ block.super }}

    {% include "georiviere/javascript_detail_river.html" with object=object %}
    <script type="text/javascript">
        window.SETTINGS.urls['stream_usages_layer'] = "{% url 'river:stream_usage_geojson' LANGUAGE_CODE object.pk %}?fields=api_geom,id,name";
        window.SETTINGS.urls['stream_studies_layer'] = "{% url 'river:stream_study_geojson' LANGUAGE_CODE object.pk %}?fields=api_geom,id,title";
    </script>
    <script src="{% static "river/js/additionallayer.js" %}"></script>
    <script type="text/javascript">
        $(window).on('detailmap:ready', function (e, data) {
            var map = data.map;

            //
            // Source
            {% if object.source_location %}
                var sourceIcon = L.icon({
                    iconUrl: "{% static "river/images/source.svg" %}",
                    iconSize: [{{ view.icon_sizes.source }}, {{ view.icon_sizes.source }}],
                    iconAnchor: [{{ view.icon_sizes.source }}/2, {{ view.icon_sizes.source }}/2],
                });
                var point = {{object.source_location|geojsonfeature|safe}};
                var location = point.geometry.coordinates.reverse();
                L.marker(location, {icon: sourceIcon})
                 .bindPopup("Source")
                 .addTo(map);

                // Make sure parking icon is visible on the map
                var bounds = map.getBounds();
                bounds.extend(location);
                map.fitBounds(bounds);
            {% endif %}
        });
    </script>

{% endblock extrabody %}

{% block download %}
  {{ block.super }}
  </div>

  <div class="btn-group pull-right">
    <a class="btn btn-light btn-sm" href="{% url 'river:stream_printable' LANGUAGE_CODE object.pk object.slug %}" title="{% trans "Report print" %}" target="_blank"><img src="{% static "paperclip/fileicons/pdf.png" %}"/> {% trans "Print" %}</a>
{% endblock download %}
