{% extends "mapentity/mapentity_detail_attributes.html" %}
{% load i18n mapentity_tags %}

{% block attributes %}
    <table class="table-striped table-bordered table">
        <tr>
            <th>{{ object|verbose:"name_author" }}</th>
            <td>{{ object.name_author }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"email_author" }}</th>
            <td>{{ object.email_author }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"first_name_author" }}</th>
            <td>{{ object.first_name_author }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"date_observation" }}</th>
            <td>{{ object.date_observation }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"severity" }}</th>
            <td>{{ object.severity|default:"" }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"description" }}</th>
            <td>{{ object.description|linebreaks }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"assigned_user" }}</th>
            <td>{{ object.assigned_user|default:"" }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"status_contribution" }}</th>
            <td>{{ object.status_contribution|default:"" }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"validated" }}</th>
            <td>{{ object.validated }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"linked_object" }}</th>
            <td>{% if object.linked_object_model_name %}{{ object.linked_object_model_name }} : {% endif %}{{ object.linked_object.name_display|safe|default:"" }}</td>
        </tr>
        {# Depending on the json schema / https://github.com/Georiviere/Georiviere-admin/issues/139 : some field are available for some type of contributions #}
        {% if object.potential_damage %}
            <tr>
                <th>{{ object.potential_damage|verbose:"type" }}</th>
                <td>{{ object.potential_damage.get_type_display }}</td>
            </tr>
            {% if object.potential_damage.type == 1 %}
                <tr>
                    <th>{{ object.potential_damage|verbose:"landing_type" }}</th>
                    <td>{% if object.potential_damage.landing_type %}{{ object.potential_damage.landing_type|safe }}
                    {% else %}<span class="none">{% trans "None" %}</span>{% endif %}
                    </td>
                </tr>
            {% endif %}
            {% if object.potential_damage.type == 2 %}
                <tr>
                    <th>{{ object.potential_damage|verbose:"excessive_cutting_length" }}</th>
                    <td>{{ object.potential_damage.excessive_cutting_length }}</td>
                </tr>
            {% endif %}
            {% if object.potential_damage.type == 4 %}
                <tr>
                    <th>{{ object.potential_damage|verbose:"jam_type" }}</th>
                    <td>{% if object.potential_damage.jam_type %}{{ object.potential_damage.jam_type|safe }}
                    {% else %}<span class="none">{% trans "None" %}</span>{% endif %}
                    </td>
                </tr>
            {% endif %}
            {% if object.potential_damage.type == 5 %}
                <tr>
                    <th>{{ object.potential_damage|verbose:"length_bank_erosion" }}</th>
                    <td>{{ object.potential_damage.length_bank_erosion }}</td>
                </tr>
            {% endif %}
            {% if object.potential_damage.type == 6 %}
                <tr>
                    <th>{{ object.potential_damage|verbose:"bank_height" }}</th>
                    <td>{{ object.potential_damage.bank_height }}</td>
                </tr>
            {% endif %}
            {% if object.potential_damage.type == 7 %}
                <tr>
                    <th>{{ object.potential_damage|verbose:"disease_type" }}</th>
                    <td>{% if object.potential_damage.disease_type %}{{ object.potential_damage.disease_type|safe }}
                    {% else %}<span class="none">{% trans "None" %}</span>{% endif %}
                    </td>
                </tr>
            {% endif %}
            {% if object.potential_damage.type == 8 %}
                <tr>
                    <th>{{ object.potential_damage|verbose:"number_death" }}</th>
                    <td>{{ object.potential_damage.number_death }}</td>
                </tr>
                <tr>
                    <th>{{ object.potential_damage|verbose:"dead_species" }}</th>
                    <td>{% if object.potential_damage.dead_species %}{{ object.potential_damage.dead_species|safe }}
                    {% else %}<span class="none">{% trans "None" %}</span>{% endif %}
                    </td>
                </tr>
            {% endif %}
        {% endif %}
        {% if object.fauna_flora %}
            <tr>
                <th>{{ object.fauna_flora|verbose:"type" }}</th>
                <td>{{ object.fauna_flora.get_type_display }}</td>
            </tr>
            {% if object.fauna_flora.type == 1 %}
                <tr>
                    <th>{{ object.fauna_flora|verbose:"home_area" }}</th>
                    <td>{{ object.fauna_flora.home_area }}</td>
                </tr>
                <tr>
                    <th>{{ object.fauna_flora|verbose:"invasive_species" }}</th>
                    <td>{{ object.fauna_flora.invasive_species }}</td>
                </tr>
            {% endif %}
            {% if object.fauna_flora.type == 2 %}
                <tr>
                    <th>{{ object.fauna_flora|verbose:"number_heritage_species" }}</th>
                    <td>{{ object.fauna_flora.number_heritage_species }}</td>
                </tr>
                <tr>
                    <th>{{ object.fauna_flora|verbose:"heritage_species" }}</th>
                    <td>{{ object.fauna_flora.heritage_species }}</td>
                </tr>
                <tr>
                    <th>{{ object.fauna_flora|verbose:"heritage_observation" }}</th>
                    <td>{{ object.fauna_flora.heritage_observation }}</td>
                </tr>
            {% endif %}
            {% if object.fauna_flora.type == 3 %}
                <tr>
                    <th>{{ object.fauna_flora|verbose:"number_fish_species" }}</th>
                    <td>{{ object.fauna_flora.number_fish_species }}</td>
                </tr>
                <tr>
                    <th>{{ object.fauna_flora|verbose:"fish_species" }}</th>
                    <td>{{ object.fauna_flora.fish_species }}</td>
                </tr>
            {% endif %}
        {% endif %}
        {% if object.quality %}
            <tr>
                <th>{{ object.quality|verbose:"type" }}</th>
                <td>{{ object.quality.get_type_display }}</td>
            </tr>
            {% if object.quality.type == 2 %}
                <tr>
                    <th>{{ object.quality|verbose:"nature_pollution" }}</th>
                    <td>{{ object.quality.nature_pollution }}</td>
                </tr>
                <tr>
                    <th>{{ object.quality|verbose:"type_pollution" }}</th>
                    <td>{{ object.quality.type_pollution }}</td>
                </tr>
            {% endif %}
        {% endif %}
        {% if object.quantity %}
            <tr>
                <th>{{ object.quantity|verbose:"type" }}</th>
                <td>{{ object.quantity.get_type_display }}</td>
            </tr>
            {% if object.quantity.type == 3 %}
                <tr>
                    <th>{{ object.quantity|verbose:"landmark" }}</th>
                    <td>{{ object.quantity.landmark }}</td>
                </tr>
            {% endif %}
        {% endif %}
        {% if object.landscape_element %}
            <tr>
                <th>{{ object.landscape_element|verbose:"type" }}</th>
                <td>{{ object.landscape_element.get_type_display }}</td>
            </tr>
        {% endif %}
        {% include "mapentity/trackinfo_fragment.html" %}
        {% include "main/publication_info_fragment.html" %}
    </table>
    {{ block.super }}
{% endblock attributes %}
