{% load i18n mapentity_tags georiviere_tags %}

{% if modelname != "station" %}
<h3>{% trans "Stations" %}</h3>
<table class="table">
    <tr>
        <th>{% trans "Stations" %}</th>
        <td>
            {% if perms.observations.station %}
            <p class="autohide">
                <a href="{% url 'observations:station_add' %}"
                   class="btn btn-sm btn-success">
                <i class="bi bi-plus-circle-fill"></i> {% trans "Add a new station" %}</a>
            </p>
            {% endif %}

            {% if modelname == 'stream' %}
                {% valuelist_source object.stations object field='label' %}
            {% else %}
                {% valuelist object.stations field='label' %}
            {% endif %}
        </td>
    </tr>
</table>
{% endif %}
