.chosen-container {
    max-width: 100%;
}

.formset .form-row > .form-group {
    flex-basis: 100%;
    max-width: 100%;
}

@media (min-width: 576px) {
    .formset .form-row > .form-group {
        flex-basis: 50%;
    }
}

@media (min-width: 992px) {
    .formset .form-row > .form-group {
        flex-basis: 25%;
    }
}

/* Fragment when objects are not in a table */
.fragment-wrapper {
    margin-bottom: 1rem;
}
.fragment-wrapper .autohide {
    float: right;
}
.fragment-wrapper:hover .autohide {
    opacity: 1;
}

.details-panel .table.operations th {
    width: auto;
}
.details-panel .table.operations th.actual-costs {
    width: 35%;
}