{% extends "mapentity/mapentity_detail_attributes.html" %}
{% load i18n mapentity_tags %}

{% block attributes %}
    <table class="table-striped table-bordered table">
        <tr>
            <th>{{ object|verbose:"name" }}</th>
            <td>{{ object.name }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"date" }}</th>
            <td>{{ object.date|date:"SHORT_DATE_FORMAT" }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"description" }}</th>
            <td>{{ object.description|linebreaks }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"eid" }}</th>
            <td>{{ object.eid|default:"-" }}</td>
        </tr>
        <tr>

            <th>{{ object|verbose:"events" }}</th>
            <td>
            {% for event in object.events.all %}
                {{ event }}</br>
            {% empty %}
                  {% trans "No events" %}
            {% endfor %}
            </td>
        </tr>
        {% include "mapentity/trackinfo_fragment.html" %}
    </table>
    {{ block.super }}
{% endblock attributes %}