# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Test CI

on:
  pull_request:
  push:
    branches:
      - master

env:
  DEBIAN_FRONTEND: noninteractive

jobs:
  unittests:
    name: Unit tests
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Prepare tests settings
        run: |
          cp .env.tests.dist .env

      - name: Set up Docker Buildx
        id: buildx

        uses: docker/setup-buildx-action@v1
      - name: Build Docker image
        run: |
          docker-compose build --build-arg UID=$UID

      - name: Run tests
        run: |
          docker-compose run --rm web coverage run ./manage.py test
          docker-compose run --rm web coverage xml

      - uses: codecov/codecov-action@v2
        with:
          verbose: true
